@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

@theme {
  --font-display: "DM Sans", serif;
}

@layer components {
  .text-field-wrapper {
    @apply relative;
  }

  .text-field {
    @apply ring-1
    ring-inset
    ring-[#6f7975]
    bg-inherit
    text-[#171d1b]
    caret-[#096b5a]
    h-14
    px-4
    rounded-[4px]
    transition-shadow
    duration-[150ms]
    ease-linear
    
    hover:ring-[#171d1b]
    
    focus:ring-2
    focus:ring-[#096b5a];
  }

  .text-field::placeholder {
    @apply opacity-0
    transition-opacity;
  }

  .text-field:focus::placeholder {
    @apply opacity-100;
  }

  .label-text {
    @apply absolute
    text-[14px]
    leading-[20px]
    tracking-[0.1px]
    font-medium
    top-[18px]
    left-2
    text-[#3f4945]
    px-2
    origin-[center_left]
    pointer-events-none
    select-none
    transition-[color,transform]
    duration-[200ms]
    ease-linear;
  }

  .field-text-wrapper:hover .label-text {
    @apply text-[#171d1b];
  }

  .field-text-wrapper:focus-within .label-text,
  .field-text-wrapper:has(.text-field:not(:placeholder-shown)) .label-text {
    @apply translate-x-0.5
    -translate-y-7
    scale-[0.85];
  }
}
